<div class="container pt-2">   
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3 mt-3">
          <label for="name" class="form-label">Name:</label>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="mb-3">
          <label for="unitPrice" class="form-label">Unit Price:</label>
          <input formControlName="unitPrice" type="number" class="form-control" id="unitPrice" name="unitPrice">
        </div>
        <div class="mb-3">
            <label for="unitsInStock" class="form-label">Units in Stock:</label>
            <input formControlName="unitsInStock" type="number" class="form-control" id="unitsInStock" name="unitsInStock">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>
